<%- include('../partials/header.ejs'); %>

    <div class="box" id="heading">
        <h1><%= title %></h1>
    </div>
    <div class="box">
        <form action="/<%=item.id %>/edit" method="POST">
            <div class="box-container">
                <label for="itemName"><span class="box-container-title">Name</span>
                    <input type="text" name="itemName" autocomplete="off" autofocus="true" value="<%=item.title%>" required/>
                </label>
                <label for="price">Price
                    <input type="number" name="price" step ="0.01" autocomplete="off" autofocus="true" value="<%=item.price%>"required/>
                </label>
                <label for="quantity">Quantity
                    <input type="number" name="quantity" autocomplete="off" autofocus="true" value="<%=item.quantity%>" required/>
                </label>
                <button type="submit" name="id" value=<%= item.id %>>Done</button>
                <button type="button" onclick="window.location.href='/'">Cancel</button>
            </div>
        </form>
    </div>
</html>
<%- include('../partials/footer.ejs'); %>